body {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.hexagon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-left: -180px;
}

.hexagon-row1 {
    display: flex;
    
}
.hexagon-row2 {
    display: flex;
    
    margin-top: -120px;
}

.hexagon {
    margin: 2px; /* Adjust the spacing between hexagons */
    transition: transform 0.3s ease, fill 0.3s ease; /* Add smooth transition effects for both scale and fill color */
    cursor: pointer;
}

.hexagonOdd {
    margin-right: -140px; /* Adjust the spacing between hexagons */
    margin-top: -150px;
    transition: transform 0.3s ease, fill 0.3s ease; /* Add smooth transition effects for both scale and fill color */
    cursor: pointer;
}

.hexagonEven {
    margin: 2px; /* Adjust the spacing between hexagons */
    transition: transform 0.3s ease, fill 0.3s ease; /* Add smooth transition effects for both scale and fill color */
    cursor: pointer;
    margin-right: -140px;
}

.hexagonEven:hover {
    transform: scale(1.6); /* Scale up by a factor of 1.2 */
}

.hexagonOdd:hover {
    transform: scale(1.6); /* Scale up by a factor of 1.2 */
}

.hexagonEven:hover svg polygon {
    fill: #ff5733; /* Change fill color on hover */
}

.hexagonOdd:hover svg polygon {
    fill: #ff5733; /* Change fill color on hover */
}

.orientierungsbutton {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container{
    display: flex;
    flex-direction: column; /* Arrange divs vertically */
    align-items: center; /* Center divs horizontally */
}